.main {
    max-width: 100%;
    height: 30vh; 
}

.link {
    text-decoration: none;
    color: white;
    margin-top: 1em;
    font-weight: bold;
    
}

.home button{
    border-style: none;
    background-color: rgb(85, 183, 139);
    border-radius: 5%; 
    height: 3em;
    width: 12em;  
}